Project/flows.json
[{"id":"10203431.78837c","type":"tab","label":"Air Quality Sensor","disabled":false,"info":""},{"id":"42c5d819.6a1478","type":"mosca in","z":"10203431.78837c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":150,"y":40,"wires":[[]]},{"id":"64b3039e.6d55bc","type":"mqtt in","z":"10203431.78837c","name":"","topic":"/TempHumid","qos":"2","datatype":"utf8","broker":"dbc2a319.87f2","x":130,"y":180,"wires":[["8620c887.315428","ef62ef1b.4f558"]]},{"id":"8620c887.315428","type":"debug","z":"10203431.78837c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":80,"wires":[]},{"id":"ef62ef1b.4f558","type":"json","z":"10203431.78837c","name":"","property":"payload","action":"","pretty":true,"x":310,"y":240,"wires":[["163f12d2.1e038d","283590d0.13297","dcfac1d4.342ea","abecee03.a5cef","aed060eb.e478c"]]},{"id":"174aa402.99a5ec","type":"ui_gauge","z":"10203431.78837c","name":"","group":"f41b3283.09d66","order":1,"width":0,"height":0,"gtype":"gage","title":"Gas","label":"","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"36072820.e2c348","type":"ui_gauge","z":"10203431.78837c","name":"","group":"f41b3283.09d66","order":2,"width":0,"height":0,"gtype":"gage","title":"CO","label":"%","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":260,"wires":[]},{"id":"868644.95af09c","type":"ui_chart","z":"10203431.78837c","name":"","group":"c5b94c80.9d4a5","order":0,"width":0,"height":0,"label":"Gas & CO","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":320,"wires":[[]]},{"id":"163f12d2.1e038d","type":"function","z":"10203431.78837c","name":"SplitJson","func":"var Gas = {\"payload\":msg.payload.Gas};\nGas.topic = \"Gas\";\n\nvar CO = {\"payload\":msg.payload.CO};\nCO.topic = \"CO\";\n\nvar Line = {\"payload\":msg.payload.Line};\nLine.topic = \"Line\";\n\nvar Email = {\"payload\":msg.payload.Email};\nEmail.topic = \"Email\";\n\nreturn [Gas, CO, Line, Email];","outputs":4,"noerr":0,"x":520,"y":260,"wires":[["174aa402.99a5ec","868644.95af09c"],["36072820.e2c348","868644.95af09c"],[],[]]},{"id":"e3915635.06f458","type":"debug","z":"10203431.78837c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":800,"wires":[]},{"id":"e6568778.56c6b8","type":"ui_slider","z":"10203431.78837c","name":"","label":"Alert Gas Value","tooltip":"","group":"fbb85e24.1b954","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"Gas","min":"100","max":"999","step":1,"x":140,"y":660,"wires":[["ed103864.05ef98"]]},{"id":"4e7afbf6.2fb384","type":"file","z":"10203431.78837c","name":"","filename":"D:\\Putter\\KMITL\\Year 3\\Semester 2\\IoT\\Project\\AirSensorLog.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1000,"y":440,"wires":[[]]},{"id":"611d6ab4.ad8034","type":"function","z":"10203431.78837c","name":"Addtime","func":"var Gas = msg.payload.Gas;\nvar CO = msg.payload.CO;\n\nvar date = new Date();\nvar Day = date.getDate().toString();\nvar Month = date.getMonth().toString();\nvar Year = date.getFullYear().toString();\nvar Hour = date.getHours().toString();\nvar Minutes = date.getMinutes().toString();\nvar Seconds = date.getSeconds().toString();\n\nmsg.payload = Day + \".\" + Month + \".\" + Year +\n            \",\" + Hour + \":\" + Minutes + \":\" + Seconds +\n            \",\" + Gas.toString() + \",\" + CO.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":440,"wires":[["4e7afbf6.2fb384"]]},{"id":"283590d0.13297","type":"function","z":"10203431.78837c","name":"Over Limit","func":"var Gas = msg.payload.Gas;\nvar CO = msg.payload.CO;\nvar lineNotify = msg.payload.Line;\n\nmsg.url = \"https://notify-api.line.me/api/notify\";\nvar AccessToken = \"tjdsdcChlZFN3rHpruos4ivN7JgWaEqaKU8eUtlhkPe\";\nmsg.headers = {'content-type':'application/x-www-form-urlencoded','Authorization':'Bearer '+ AccessToken};\n\nif((Gas >= 400) && (lineNotify == 1)){\n    msg.payload = {\n        \"message\":\"Gas:\" + Gas + \" is over the limit!\",\n        \"stickerPackageId\" : \"4\",\n        \"stickerId\" : \"264\"\n    }\n}\n\nif((CO >= 500) && (lineNotify == 1)){\n    msg.payload = {\n        \"message\":\"CO:\" + CO + \" is over the limit!\",\n        \"stickerPackageId\" : \"4\",\n        \"stickerId\" : \"286\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["dd87b1e7.1c9d2"]]},{"id":"dd87b1e7.1c9d2","type":"http request","z":"10203431.78837c","name":"http request post method","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":140,"wires":[[]]},{"id":"7bf89dd1.1f08f4","type":"ui_slider","z":"10203431.78837c","name":"","label":"Alert CO Value","tooltip":"","group":"fbb85e24.1b954","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"CO","min":"100","max":"999","step":1,"x":140,"y":780,"wires":[["ed103864.05ef98"]]},{"id":"c9dff92f.91afd8","type":"mqtt out","z":"10203431.78837c","name":"","topic":"/limit","qos":"","retain":"","broker":"dbc2a319.87f2","x":630,"y":700,"wires":[]},{"id":"ed103864.05ef98","type":"join","z":"10203431.78837c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":720,"wires":[["9374f77.1cd4c08"]]},{"id":"9374f77.1cd4c08","type":"function","z":"10203431.78837c","name":"format string","func":"var gasLimit = msg.payload.Gas;\nvar coLimit = msg.payload.CO;\n\nif(gasLimit === undefined)\n    gasLimit = 0;\nif(coLimit === undefined)\n    coLimit = 0;\n\nmsg.payload = \"Gas Limit: \" + gasLimit +\n            \",CO Limit: \" + coLimit;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":720,"wires":[["c9dff92f.91afd8","e3915635.06f458"]]},{"id":"2be1d39a.b2f0ec","type":"function","z":"10203431.78837c","name":"Mail Function","func":"Text = \"Your daily air quality sensor report\"\nSubject = \"Air Quality Sensor Levels\"\nToEmail = \"PutterThapanun@gmail.com\"\n\n\nmsg = {payload:Text, topic:Subject, to:ToEmail, attachments:[{path: 'D:/Putter/KMITL/Year 3/Semester 2/IoT/Project/AirSensorLog.csv'}]}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["8b98537.1e507b"]]},{"id":"8b98537.1e507b","type":"e-mail","z":"10203431.78837c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":950,"y":580,"wires":[]},{"id":"dcfac1d4.342ea","type":"delay","z":"10203431.78837c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":440,"wires":[["611d6ab4.ad8034"]]},{"id":"aed060eb.e478c","type":"delay","z":"10203431.78837c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"59","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":580,"wires":[["2be1d39a.b2f0ec"]]},{"id":"35414a19.172236","type":"file","z":"10203431.78837c","name":"","filename":"D:\\Putter\\KMITL\\Year 3\\Semester 2\\IoT\\Project\\AirSensorLog.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":840,"y":500,"wires":[[]]},{"id":"abecee03.a5cef","type":"delay","z":"10203431.78837c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":500,"wires":[["35414a19.172236"]]},{"id":"dbc2a319.87f2","type":"mqtt-broker","z":"","name":"localhost:1883","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f41b3283.09d66","type":"ui_group","z":"","name":"Gas & CO","tab":"548b54e5.e7af9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5b94c80.9d4a5","type":"ui_group","z":"","name":"Chart","tab":"548b54e5.e7af9c","order":2,"disp":true,"width":"6","collapse":false},{"id":"fbb85e24.1b954","type":"ui_group","z":"","name":"Limit Sliders","tab":"548b54e5.e7af9c","order":3,"disp":true,"width":"6","collapse":false},{"id":"548b54e5.e7af9c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]